/* Fonts */

.f-00 {  font-size:   0%; }
.f-01 {  font-size:   1%; }
.f-02 {  font-size:   2%; }
.f-03 {  font-size:   3%; }
.f-04 {  font-size:   4%; }
.f-05 {  font-size:   5%; }
.f-06 {  font-size:   6%; }
.f-07 {  font-size:   7%; }
.f-08 {  font-size:   8%; }
.f-09 {  font-size:   9%; }
.f-10 {  font-size:  10%; }
.f-11 {  font-size:  11%; }
.f-12 {  font-size:  12%; }
.f-13 {  font-size:  13%; }
.f-14 {  font-size:  14%; }
.f-15 {  font-size:  15%; }
.f-16 {  font-size:  16%; }
.f-17 {  font-size:  17%; }
.f-18 {  font-size:  18%; }
.f-19 {  font-size:  19%; }
.f-20 {  font-size:  20%; }
.f-21 {  font-size:  21%; }
.f-22 {  font-size:  22%; }
.f-23 {  font-size:  23%; }
.f-24 {  font-size:  24%; }
.f-25 {  font-size:  25%; }
.f-26 {  font-size:  26%; }
.f-27 {  font-size:  27%; }
.f-28 {  font-size:  28%; }
.f-29 {  font-size:  29%; }
.f-30 {  font-size:  30%; }
.f-31 {  font-size:  31%; }
.f-32 {  font-size:  32%; }
.f-33 {  font-size:  33%; }
.f-34 {  font-size:  34%; }
.f-35 {  font-size:  35%; }
.f-36 {  font-size:  36%; }
.f-37 {  font-size:  37%; }
.f-38 {  font-size:  38%; }
.f-39 {  font-size:  39%; }
.f-40 {  font-size:  40%; }
.f-41 {  font-size:  41%; }
.f-42 {  font-size:  42%; }
.f-43 {  font-size:  43%; }
.f-44 {  font-size:  44%; }
.f-45 {  font-size:  45%; }
.f-46 {  font-size:  46%; }
.f-47 {  font-size:  47%; }
.f-48 {  font-size:  48%; }
.f-49 {  font-size:  49%; }
.f-50 {  font-size:  50%; }
.f-51 {  font-size:  51%; }
.f-52 {  font-size:  52%; }
.f-53 {  font-size:  53%; }
.f-54 {  font-size:  54%; }
.f-55 {  font-size:  55%; }
.f-56 {  font-size:  56%; }
.f-57 {  font-size:  57%; }
.f-58 {  font-size:  58%; }
.f-59 {  font-size:  59%; }
.f-60 {  font-size:  60%; }
.f-61 {  font-size:  61%; }
.f-62 {  font-size:  62%; }
.f-63 {  font-size:  63%; }
.f-64 {  font-size:  64%; }
.f-65 {  font-size:  65%; }
.f-66 {  font-size:  66%; }
.f-67 {  font-size:  67%; }
.f-68 {  font-size:  68%; }
.f-69 {  font-size:  69%; }
.f-70 {  font-size:  70%; }
.f-71 {  font-size:  71%; }
.f-72 {  font-size:  72%; }
.f-73 {  font-size:  73%; }
.f-74 {  font-size:  74%; }
.f-75 {  font-size:  75%; }
.f-76 {  font-size:  76%; }
.f-77 {  font-size:  77%; }
.f-78 {  font-size:  78%; }
.f-79 {  font-size:  79%; }
.f-80 {  font-size:  80%; }
.f-81 {  font-size:  81%; }
.f-82 {  font-size:  82%; }
.f-83 {  font-size:  83%; }
.f-84 {  font-size:  84%; }
.f-85 {  font-size:  85%; }
.f-86 {  font-size:  86%; }
.f-87 {  font-size:  87%; }
.f-88 {  font-size:  88%; }
.f-89 {  font-size:  89%; }
.f-90 {  font-size:  90%; }
.f-91 {  font-size:  91%; }
.f-92 {  font-size:  92%; }
.f-93 {  font-size:  93%; }
.f-94 {  font-size:  94%; }
.f-95 {  font-size:  95%; }
.f-96 {  font-size:  96%; }
.f-97 {  font-size:  97%; }
.f-98 {  font-size:  98%; }
.f-99 {  font-size:  99%; }
.f-100 { font-size: 100%; }
.f-101 {  font-size:  101%; }
.f-102 {  font-size:  102%; }
.f-103 {  font-size:  103%; }
.f-104 {  font-size:  104%; }
.f-105 {  font-size:  105%; }
.f-106 {  font-size:  106%; }
.f-107 {  font-size:  107%; }
.f-108 {  font-size:  108%; }
.f-109 {  font-size:  109%; }
.f-110 {  font-size:  110%; }
.f-111 {  font-size:  111%; }
.f-112 {  font-size:  112%; }
.f-113 {  font-size:  113%; }
.f-114 {  font-size:  114%; }
.f-115 {  font-size:  115%; }
.f-116 {  font-size:  116%; }
.f-117 {  font-size:  117%; }
.f-118 {  font-size:  118%; }
.f-119 {  font-size:  119%; }
.f-120 {  font-size:  120%; }
.f-121 {  font-size:  121%; }
.f-122 {  font-size:  122%; }
.f-123 {  font-size:  123%; }
.f-124 {  font-size:  124%; }
.f-125 {  font-size:  125%; }
.f-126 {  font-size:  126%; }
.f-127 {  font-size:  127%; }
.f-128 {  font-size:  128%; }
.f-129 {  font-size:  129%; }
.f-130 {  font-size:  130%; }
.f-131 {  font-size:  131%; }
.f-132 {  font-size:  132%; }
.f-133 {  font-size:  133%; }
.f-134 {  font-size:  134%; }
.f-135 {  font-size:  135%; }
.f-136 {  font-size:  136%; }
.f-137 {  font-size:  137%; }
.f-138 {  font-size:  138%; }
.f-139 {  font-size:  139%; }
.f-140 {  font-size:  140%; }
.f-141 {  font-size:  141%; }
.f-142 {  font-size:  142%; }
.f-143 {  font-size:  143%; }
.f-144 {  font-size:  144%; }
.f-145 {  font-size:  145%; }
.f-146 {  font-size:  146%; }
.f-147 {  font-size:  147%; }
.f-148 {  font-size:  148%; }
.f-149 {  font-size:  149%; }
.f-150 {  font-size:  150%; }
.f-151 {  font-size:  151%; }
.f-152 {  font-size:  152%; }
.f-153 {  font-size:  153%; }
.f-154 {  font-size:  154%; }
.f-155 {  font-size:  155%; }
.f-156 {  font-size:  156%; }
.f-157 {  font-size:  157%; }
.f-158 {  font-size:  158%; }
.f-159 {  font-size:  159%; }
.f-160 {  font-size:  160%; }
.f-161 {  font-size:  161%; }
.f-162 {  font-size:  162%; }
.f-163 {  font-size:  163%; }
.f-164 {  font-size:  164%; }
.f-165 {  font-size:  165%; }
.f-166 {  font-size:  166%; }
.f-167 {  font-size:  167%; }
.f-168 {  font-size:  168%; }
.f-169 {  font-size:  169%; }
.f-170 {  font-size:  170%; }
.f-171 {  font-size:  171%; }
.f-172 {  font-size:  172%; }
.f-173 {  font-size:  173%; }
.f-174 {  font-size:  174%; }
.f-175 {  font-size:  175%; }
.f-176 {  font-size:  176%; }
.f-177 {  font-size:  177%; }
.f-178 {  font-size:  178%; }
.f-179 {  font-size:  179%; }
.f-180 {  font-size:  180%; }
.f-181 {  font-size:  181%; }
.f-182 {  font-size:  182%; }
.f-183 {  font-size:  183%; }
.f-184 {  font-size:  184%; }
.f-185 {  font-size:  185%; }
.f-186 {  font-size:  186%; }
.f-187 {  font-size:  187%; }
.f-188 {  font-size:  188%; }
.f-189 {  font-size:  189%; }
.f-190 {  font-size:  190%; }
.f-191 {  font-size:  191%; }
.f-192 {  font-size:  192%; }
.f-193 {  font-size:  193%; }
.f-194 {  font-size:  194%; }
.f-195 {  font-size:  195%; }
.f-196 {  font-size:  196%; }
.f-197 {  font-size:  197%; }
.f-198 {  font-size:  198%; }
.f-199 {  font-size:  199%; }
.f-200 {  font-size:  200%; }

/* Height Percentages - Based off of height of parent */
.h-00 {  height:   0%; }
.h-01 {  height:   1%; }
.h-02 {  height:   2%; }
.h-03 {  height:   3%; }
.h-04 {  height:   4%; }
.h-05 {  height:   5%; }
.h-06 {  height:   6%; }
.h-07 {  height:   7%; }
.h-08 {  height:   8%; }
.h-09 {  height:   9%; }
.h-10 {  height:  10%; }
.h-11 {  height:  11%; }
.h-12 {  height:  12%; }
.h-13 {  height:  13%; }
.h-14 {  height:  14%; }
.h-15 {  height:  15%; }
.h-16 {  height:  16%; }
.h-17 {  height:  17%; }
.h-18 {  height:  18%; }
.h-19 {  height:  19%; }
.h-20 {  height:  20%; }
.h-21 {  height:  21%; }
.h-22 {  height:  22%; }
.h-23 {  height:  23%; }
.h-24 {  height:  24%; }
.h-25 {  height:  25%; }
.h-26 {  height:  26%; }
.h-27 {  height:  27%; }
.h-28 {  height:  28%; }
.h-29 {  height:  29%; }
.h-30 {  height:  30%; }
.h-31 {  height:  31%; }
.h-32 {  height:  32%; }
.h-33 {  height:  33%; }
.h-34 {  height:  34%; }
.h-35 {  height:  35%; }
.h-36 {  height:  36%; }
.h-37 {  height:  37%; }
.h-38 {  height:  38%; }
.h-39 {  height:  39%; }
.h-40 {  height:  40%; }
.h-41 {  height:  41%; }
.h-42 {  height:  42%; }
.h-43 {  height:  43%; }
.h-44 {  height:  44%; }
.h-45 {  height:  45%; }
.h-46 {  height:  46%; }
.h-47 {  height:  47%; }
.h-48 {  height:  48%; }
.h-49 {  height:  49%; }
.h-50 {  height:  50%; }
.h-51 {  height:  51%; }
.h-52 {  height:  52%; }
.h-53 {  height:  53%; }
.h-54 {  height:  54%; }
.h-55 {  height:  55%; }
.h-56 {  height:  56%; }
.h-57 {  height:  57%; }
.h-58 {  height:  58%; }
.h-59 {  height:  59%; }
.h-60 {  height:  60%; }
.h-61 {  height:  61%; }
.h-62 {  height:  62%; }
.h-63 {  height:  63%; }
.h-64 {  height:  64%; }
.h-65 {  height:  65%; }
.h-66 {  height:  66%; }
.h-67 {  height:  67%; }
.h-68 {  height:  68%; }
.h-69 {  height:  69%; }
.h-70 {  height:  70%; }
.h-71 {  height:  71%; }
.h-72 {  height:  72%; }
.h-73 {  height:  73%; }
.h-74 {  height:  74%; }
.h-75 {  height:  75%; }
.h-76 {  height:  76%; }
.h-77 {  height:  77%; }
.h-78 {  height:  78%; }
.h-79 {  height:  79%; }
.h-80 {  height:  80%; }
.h-81 {  height:  81%; }
.h-82 {  height:  82%; }
.h-83 {  height:  83%; }
.h-84 {  height:  84%; }
.h-85 {  height:  85%; }
.h-86 {  height:  86%; }
.h-87 {  height:  87%; }
.h-88 {  height:  88%; }
.h-89 {  height:  89%; }
.h-90 {  height:  90%; }
.h-91 {  height:  91%; }
.h-92 {  height:  92%; }
.h-93 {  height:  93%; }
.h-94 {  height:  94%; }
.h-95 {  height:  95%; }
.h-96 {  height:  96%; }
.h-97 {  height:  97%; }
.h-98 {  height:  98%; }
.h-99 {  height:  99%; }
.h-100 { height: 100%; }

/* Width Scale */
.w-00 {  width:   0%; }
.w-01 {  width:   1%; }
.w-02 {  width:   2%; }
.w-03 {  width:   3%; }
.w-04 {  width:   4%; }
.w-05 {  width:   5%; }
.w-06 {  width:   6%; }
.w-07 {  width:   7%; }
.w-08 {  width:   8%; }
.w-09 {  width:   9%; }
.w-10 {  width:  10%; }
.w-11 {  width:  11%; }
.w-12 {  width:  12%; }
.w-13 {  width:  13%; }
.w-14 {  width:  14%; }
.w-15 {  width:  15%; }
.w-16 {  width:  16%; }
.w-17 {  width:  17%; }
.w-18 {  width:  18%; }
.w-19 {  width:  19%; }
.w-20 {  width:  20%; }
.w-21 {  width:  21%; }
.w-22 {  width:  22%; }
.w-23 {  width:  23%; }
.w-24 {  width:  24%; }
.w-25 {  width:  25%; }
.w-26 {  width:  26%; }
.w-27 {  width:  27%; }
.w-28 {  width:  28%; }
.w-29 {  width:  29%; }
.w-30 {  width:  30%; }
.w-31 {  width:  31%; }
.w-32 {  width:  32%; }
.w-33 {  width:  33%; }
.w-34 {  width:  34%; }
.w-35 {  width:  35%; }
.w-36 {  width:  36%; }
.w-37 {  width:  37%; }
.w-38 {  width:  38%; }
.w-39 {  width:  39%; }
.w-40 {  width:  40%; }
.w-41 {  width:  41%; }
.w-42 {  width:  42%; }
.w-43 {  width:  43%; }
.w-44 {  width:  44%; }
.w-45 {  width:  45%; }
.w-46 {  width:  46%; }
.w-47 {  width:  47%; }
.w-48 {  width:  48%; }
.w-49 {  width:  49%; }
.w-50 {  width:  50%; }
.w-51 {  width:  51%; }
.w-52 {  width:  52%; }
.w-53 {  width:  53%; }
.w-54 {  width:  54%; }
.w-55 {  width:  55%; }
.w-56 {  width:  56%; }
.w-57 {  width:  57%; }
.w-58 {  width:  58%; }
.w-59 {  width:  59%; }
.w-60 {  width:  60%; }
.w-61 {  width:  61%; }
.w-62 {  width:  62%; }
.w-63 {  width:  63%; }
.w-64 {  width:  64%; }
.w-65 {  width:  65%; }
.w-66 {  width:  66%; }
.w-67 {  width:  67%; }
.w-68 {  width:  68%; }
.w-69 {  width:  69%; }
.w-70 {  width:  70%; }
.w-71 {  width:  71%; }
.w-72 {  width:  72%; }
.w-73 {  width:  73%; }
.w-74 {  width:  74%; }
.w-75 {  width:  75%; }
.w-76 {  width:  76%; }
.w-77 {  width:  77%; }
.w-78 {  width:  78%; }
.w-79 {  width:  79%; }
.w-80 {  width:  80%; }
.w-81 {  width:  81%; }
.w-82 {  width:  82%; }
.w-83 {  width:  83%; }
.w-84 {  width:  84%; }
.w-85 {  width:  85%; }
.w-86 {  width:  86%; }
.w-87 {  width:  87%; }
.w-88 {  width:  88%; }
.w-89 {  width:  89%; }
.w-90 {  width:  90%; }
.w-91 {  width:  91%; }
.w-92 {  width:  92%; }
.w-93 {  width:  93%; }
.w-94 {  width:  94%; }
.w-95 {  width:  95%; }
.w-96 {  width:  96%; }
.w-97 {  width:  97%; }
.w-98 {  width:  98%; }
.w-99 {  width:  99%; }
.w-100 { width: 100%; }

/* Padding */
.pa-00 { padding:   0rem; }
.pa-01 { padding:   1rem; }
.pa-02 { padding:   2rem; }
.pa-03 { padding:   3rem; }
.pa-04 { padding:   4rem; }
.pa-05 { padding:   5rem; }
.pa-06 { padding:   6rem; }
.pa-07 { padding:   7rem; }
.pa-08 { padding:   8rem; }
.pa-09 { padding:   9rem; }
.pa-10 { padding:  10rem; }
.pa-11 { padding:  11rem; }
.pa-12 { padding:  12rem; }
.pa-13 { padding:  13rem; }
.pa-14 { padding:  14rem; }
.pa-15 { padding:  15rem; }
.pa-16 { padding:  16rem; }
.pa-17 { padding:  17rem; }
.pa-18 { padding:  18rem; }
.pa-19 { padding:  19rem; }
.pa-20 { padding:  20rem; }
.pa-21 { padding:  21rem; }
.pa-22 { padding:  22rem; }
.pa-23 { padding:  23rem; }
.pa-24 { padding:  24rem; }
.pa-25 { padding:  25rem; }
.pa-26 { padding:  26rem; }
.pa-27 { padding:  27rem; }
.pa-28 { padding:  28rem; }
.pa-29 { padding:  29rem; }
.pa-30 { padding:  30rem; }

.pl-00 { padding-left:   0rem; }
.pl-01 { padding-left:   1rem; }
.pl-02 { padding-left:   2rem; }
.pl-03 { padding-left:   3rem; }
.pl-04 { padding-left:   4rem; }
.pl-05 { padding-left:   5rem; }
.pl-06 { padding-left:   6rem; }
.pl-07 { padding-left:   7rem; }
.pl-08 { padding-left:   8rem; }
.pl-09 { padding-left:   9rem; }
.pl-10 { padding-left:  10rem; }
.pl-11 { padding-left:  11rem; }
.pl-12 { padding-left:  12rem; }
.pl-13 { padding-left:  13rem; }
.pl-14 { padding-left:  14rem; }
.pl-15 { padding-left:  15rem; }
.pl-16 { padding-left:  16rem; }
.pl-17 { padding-left:  17rem; }
.pl-18 { padding-left:  18rem; }
.pl-19 { padding-left:  19rem; }
.pl-20 { padding-left:  20rem; }
.pl-21 { padding-left:  21rem; }
.pl-22 { padding-left:  22rem; }
.pl-23 { padding-left:  23rem; }
.pl-24 { padding-left:  24rem; }
.pl-25 { padding-left:  25rem; }
.pl-26 { padding-left:  26rem; }
.pl-27 { padding-left:  27rem; }
.pl-28 { padding-left:  28rem; }
.pl-29 { padding-left:  29rem; }
.pl-30 { padding-left:  30rem; }

.pr-00 { padding-right:   0rem; }
.pr-01 { padding-right:   1rem; }
.pr-02 { padding-right:   2rem; }
.pr-03 { padding-right:   3rem; }
.pr-04 { padding-right:   4rem; }
.pr-05 { padding-right:   5rem; }
.pr-06 { padding-right:   6rem; }
.pr-07 { padding-right:   7rem; }
.pr-08 { padding-right:   8rem; }
.pr-09 { padding-right:   9rem; }
.pr-10 { padding-right:  10rem; }
.pr-11 { padding-right:  11rem; }
.pr-12 { padding-right:  12rem; }
.pr-13 { padding-right:  13rem; }
.pr-14 { padding-right:  14rem; }
.pr-15 { padding-right:  15rem; }
.pr-16 { padding-right:  16rem; }
.pr-17 { padding-right:  17rem; }
.pr-18 { padding-right:  18rem; }
.pr-19 { padding-right:  19rem; }
.pr-20 { padding-right:  20rem; }
.pr-21 { padding-right:  21rem; }
.pr-22 { padding-right:  22rem; }
.pr-23 { padding-right:  23rem; }
.pr-24 { padding-right:  24rem; }
.pr-25 { padding-right:  25rem; }
.pr-26 { padding-right:  26rem; }
.pr-27 { padding-right:  27rem; }
.pr-28 { padding-right:  28rem; }
.pr-29 { padding-right:  29rem; }
.pr-30 { padding-right:  30rem; }

.pt-00 { padding-top:   0rem; }
.pt-01 { padding-top:   1rem; }
.pt-02 { padding-top:   2rem; }
.pt-03 { padding-top:   3rem; }
.pt-04 { padding-top:   4rem; }
.pt-05 { padding-top:   5rem; }
.pt-06 { padding-top:   6rem; }
.pt-07 { padding-top:   7rem; }
.pt-08 { padding-top:   8rem; }
.pt-09 { padding-top:   9rem; }
.pt-10 { padding-top:  10rem; }
.pt-11 { padding-top:  11rem; }
.pt-12 { padding-top:  12rem; }
.pt-13 { padding-top:  13rem; }
.pt-14 { padding-top:  14rem; }
.pt-15 { padding-top:  15rem; }
.pt-16 { padding-top:  16rem; }
.pt-17 { padding-top:  17rem; }
.pt-18 { padding-top:  18rem; }
.pt-19 { padding-top:  19rem; }
.pt-20 { padding-top:  20rem; }
.pt-21 { padding-top:  21rem; }
.pt-22 { padding-top:  22rem; }
.pt-23 { padding-top:  23rem; }
.pt-24 { padding-top:  24rem; }
.pt-25 { padding-top:  25rem; }
.pt-26 { padding-top:  26rem; }
.pt-27 { padding-top:  27rem; }
.pt-28 { padding-top:  28rem; }
.pt-29 { padding-top:  29rem; }
.pt-30 { padding-top:  30rem; }

.pb-00 { padding-bottom:   0rem; }
.pb-01 { padding-bottom:   1rem; }
.pb-02 { padding-bottom:   2rem; }
.pb-03 { padding-bottom:   3rem; }
.pb-04 { padding-bottom:   4rem; }
.pb-05 { padding-bottom:   5rem; }
.pb-06 { padding-bottom:   6rem; }
.pb-07 { padding-bottom:   7rem; }
.pb-08 { padding-bottom:   8rem; }
.pb-09 { padding-bottom:   9rem; }
.pb-10 { padding-bottom:  10rem; }
.pb-11 { padding-bottom:  11rem; }
.pb-12 { padding-bottom:  12rem; }
.pb-13 { padding-bottom:  13rem; }
.pb-14 { padding-bottom:  14rem; }
.pb-15 { padding-bottom:  15rem; }
.pb-16 { padding-bottom:  16rem; }
.pb-17 { padding-bottom:  17rem; }
.pb-18 { padding-bottom:  18rem; }
.pb-19 { padding-bottom:  19rem; }
.pb-20 { padding-bottom:  20rem; }
.pb-21 { padding-bottom:  21rem; }
.pb-22 { padding-bottom:  22rem; }
.pb-23 { padding-bottom:  23rem; }
.pb-24 { padding-bottom:  24rem; }
.pb-25 { padding-bottom:  25rem; }
.pb-26 { padding-bottom:  26rem; }
.pb-27 { padding-bottom:  27rem; }
.pb-28 { padding-bottom:  28rem; }
.pb-29 { padding-bottom:  29rem; }
.pb-30 { padding-bottom:  30rem; }

.pv-00 { padding-top:   0rem; padding-bottom:   0rem; }
.pv-01 { padding-top:   1rem; padding-bottom:   1rem; }
.pv-02 { padding-top:   2rem; padding-bottom:   2rem; }
.pv-03 { padding-top:   3rem; padding-bottom:   3rem; }
.pv-04 { padding-top:   4rem; padding-bottom:   4rem; }
.pv-05 { padding-top:   5rem; padding-bottom:   5rem; }
.pv-06 { padding-top:   6rem; padding-bottom:   6rem; }
.pv-07 { padding-top:   7rem; padding-bottom:   7rem; }
.pv-08 { padding-top:   8rem; padding-bottom:   8rem; }
.pv-09 { padding-top:   9rem; padding-bottom:   9rem; }
.pv-10 { padding-top:  10rem; padding-bottom:  10rem; }
.pv-11 { padding-top:  11rem; padding-bottom:  11rem; }
.pv-12 { padding-top:  12rem; padding-bottom:  12rem; }
.pv-13 { padding-top:  13rem; padding-bottom:  13rem; }
.pv-14 { padding-top:  14rem; padding-bottom:  14rem; }
.pv-15 { padding-top:  15rem; padding-bottom:  15rem; }
.pv-16 { padding-top:  16rem; padding-bottom:  16rem; }
.pv-17 { padding-top:  17rem; padding-bottom:  17rem; }
.pv-18 { padding-top:  18rem; padding-bottom:  18rem; }
.pv-19 { padding-top:  19rem; padding-bottom:  19rem; }
.pv-20 { padding-top:  20rem; padding-bottom:  20rem; }
.pv-21 { padding-top:  21rem; padding-bottom:  21rem; }
.pv-22 { padding-top:  22rem; padding-bottom:  22rem; }
.pv-23 { padding-top:  23rem; padding-bottom:  23rem; }
.pv-24 { padding-top:  24rem; padding-bottom:  24rem; }
.pv-25 { padding-top:  25rem; padding-bottom:  25rem; }
.pv-26 { padding-top:  26rem; padding-bottom:  26rem; }
.pv-27 { padding-top:  27rem; padding-bottom:  27rem; }
.pv-28 { padding-top:  28rem; padding-bottom:  28rem; }
.pv-29 { padding-top:  29rem; padding-bottom:  29rem; }
.pv-30 { padding-top:  30rem; padding-bottom:  30rem; }

.ph-00 { padding-left:   0rem; padding-right:   0rem; }
.ph-01 { padding-left:   1rem; padding-right:   1rem; }
.ph-02 { padding-left:   2rem; padding-right:   2rem; }
.ph-03 { padding-left:   3rem; padding-right:   3rem; }
.ph-04 { padding-left:   4rem; padding-right:   4rem; }
.ph-05 { padding-left:   5rem; padding-right:   5rem; }
.ph-06 { padding-left:   6rem; padding-right:   6rem; }
.ph-07 { padding-left:   7rem; padding-right:   7rem; }
.ph-08 { padding-left:   8rem; padding-right:   8rem; }
.ph-09 { padding-left:   9rem; padding-right:   9rem; }
.ph-10 { padding-left:  10rem; padding-right:  10rem; }
.ph-11 { padding-left:  11rem; padding-right:  11rem; }
.ph-12 { padding-left:  12rem; padding-right:  12rem; }
.ph-13 { padding-left:  13rem; padding-right:  13rem; }
.ph-14 { padding-left:  14rem; padding-right:  14rem; }
.ph-15 { padding-left:  15rem; padding-right:  15rem; }
.ph-16 { padding-left:  16rem; padding-right:  16rem; }
.ph-17 { padding-left:  17rem; padding-right:  17rem; }
.ph-18 { padding-left:  18rem; padding-right:  18rem; }
.ph-19 { padding-left:  19rem; padding-right:  19rem; }
.ph-20 { padding-left:  20rem; padding-right:  20rem; }
.ph-21 { padding-left:  21rem; padding-right:  21rem; }
.ph-22 { padding-left:  22rem; padding-right:  22rem; }
.ph-23 { padding-left:  23rem; padding-right:  23rem; }
.ph-24 { padding-left:  24rem; padding-right:  24rem; }
.ph-25 { padding-left:  25rem; padding-right:  25rem; }
.ph-26 { padding-left:  26rem; padding-right:  26rem; }
.ph-27 { padding-left:  27rem; padding-right:  27rem; }
.ph-28 { padding-left:  28rem; padding-right:  28rem; }
.ph-29 { padding-left:  29rem; padding-right:  29rem; }
.ph-30 { padding-left:  30rem; padding-right:  30rem; }

/* Margin */
.ma-00 { margin:   0rem; }
.ma-01 { margin:   1rem; }
.ma-02 { margin:   2rem; }
.ma-03 { margin:   3rem; }
.ma-04 { margin:   4rem; }
.ma-05 { margin:   5rem; }
.ma-06 { margin:   6rem; }
.ma-07 { margin:   7rem; }
.ma-08 { margin:   8rem; }
.ma-09 { margin:   9rem; }
.ma-10 { margin:  10rem; }
.ma-11 { margin:  11rem; }
.ma-12 { margin:  12rem; }
.ma-13 { margin:  13rem; }
.ma-14 { margin:  14rem; }
.ma-15 { margin:  15rem; }
.ma-16 { margin:  16rem; }
.ma-17 { margin:  17rem; }
.ma-18 { margin:  18rem; }
.ma-19 { margin:  19rem; }
.ma-20 { margin:  20rem; }
.ma-21 { margin:  21rem; }
.ma-22 { margin:  22rem; }
.ma-23 { margin:  23rem; }
.ma-24 { margin:  24rem; }
.ma-25 { margin:  25rem; }
.ma-26 { margin:  26rem; }
.ma-27 { margin:  27rem; }
.ma-28 { margin:  28rem; }
.ma-29 { margin:  29rem; }
.ma-30 { margin:  30rem; }

.ml-00 { margin-left:   0rem; }
.ml-01 { margin-left:   1rem; }
.ml-02 { margin-left:   2rem; }
.ml-03 { margin-left:   3rem; }
.ml-04 { margin-left:   4rem; }
.ml-05 { margin-left:   5rem; }
.ml-06 { margin-left:   6rem; }
.ml-07 { margin-left:   7rem; }
.ml-08 { margin-left:   8rem; }
.ml-09 { margin-left:   9rem; }
.ml-10 { margin-left:  10rem; }
.ml-11 { margin-left:  11rem; }
.ml-12 { margin-left:  12rem; }
.ml-13 { margin-left:  13rem; }
.ml-14 { margin-left:  14rem; }
.ml-15 { margin-left:  15rem; }
.ml-16 { margin-left:  16rem; }
.ml-17 { margin-left:  17rem; }
.ml-18 { margin-left:  18rem; }
.ml-19 { margin-left:  19rem; }
.ml-20 { margin-left:  20rem; }
.ml-21 { margin-left:  21rem; }
.ml-22 { margin-left:  22rem; }
.ml-23 { margin-left:  23rem; }
.ml-24 { margin-left:  24rem; }
.ml-25 { margin-left:  25rem; }
.ml-26 { margin-left:  26rem; }
.ml-27 { margin-left:  27rem; }
.ml-28 { margin-left:  28rem; }
.ml-29 { margin-left:  29rem; }
.ml-30 { margin-left:  30rem; }

.mr-00 { margin-right:   0rem; }
.mr-01 { margin-right:   1rem; }
.mr-02 { margin-right:   2rem; }
.mr-03 { margin-right:   3rem; }
.mr-04 { margin-right:   4rem; }
.mr-05 { margin-right:   5rem; }
.mr-06 { margin-right:   6rem; }
.mr-07 { margin-right:   7rem; }
.mr-08 { margin-right:   8rem; }
.mr-09 { margin-right:   9rem; }
.mr-10 { margin-right:  10rem; }
.mr-11 { margin-right:  11rem; }
.mr-12 { margin-right:  12rem; }
.mr-13 { margin-right:  13rem; }
.mr-14 { margin-right:  14rem; }
.mr-15 { margin-right:  15rem; }
.mr-16 { margin-right:  16rem; }
.mr-17 { margin-right:  17rem; }
.mr-18 { margin-right:  18rem; }
.mr-19 { margin-right:  19rem; }
.mr-20 { margin-right:  20rem; }
.mr-21 { margin-right:  21rem; }
.mr-22 { margin-right:  22rem; }
.mr-23 { margin-right:  23rem; }
.mr-24 { margin-right:  24rem; }
.mr-25 { margin-right:  25rem; }
.mr-26 { margin-right:  26rem; }
.mr-27 { margin-right:  27rem; }
.mr-28 { margin-right:  28rem; }
.mr-29 { margin-right:  29rem; }
.mr-30 { margin-right:  30rem; }

.mt-00 { margin-top:   0rem; }
.mt-01 { margin-top:   1rem; }
.mt-02 { margin-top:   2rem; }
.mt-03 { margin-top:   3rem; }
.mt-04 { margin-top:   4rem; }
.mt-05 { margin-top:   5rem; }
.mt-06 { margin-top:   6rem; }
.mt-07 { margin-top:   7rem; }
.mt-08 { margin-top:   8rem; }
.mt-09 { margin-top:   9rem; }
.mt-10 { margin-top:  10rem; }
.mt-11 { margin-top:  11rem; }
.mt-12 { margin-top:  12rem; }
.mt-13 { margin-top:  13rem; }
.mt-14 { margin-top:  14rem; }
.mt-15 { margin-top:  15rem; }
.mt-16 { margin-top:  16rem; }
.mt-17 { margin-top:  17rem; }
.mt-18 { margin-top:  18rem; }
.mt-19 { margin-top:  19rem; }
.mt-20 { margin-top:  20rem; }
.mt-21 { margin-top:  21rem; }
.mt-22 { margin-top:  22rem; }
.mt-23 { margin-top:  23rem; }
.mt-24 { margin-top:  24rem; }
.mt-25 { margin-top:  25rem; }
.mt-26 { margin-top:  26rem; }
.mt-27 { margin-top:  27rem; }
.mt-28 { margin-top:  28rem; }
.mt-29 { margin-top:  29rem; }
.mt-30 { margin-top:  30rem; }

.mb-00 { margin-bottom:   0rem; }
.mb-01 { margin-bottom:   1rem; }
.mb-02 { margin-bottom:   2rem; }
.mb-03 { margin-bottom:   3rem; }
.mb-04 { margin-bottom:   4rem; }
.mb-05 { margin-bottom:   5rem; }
.mb-06 { margin-bottom:   6rem; }
.mb-07 { margin-bottom:   7rem; }
.mb-08 { margin-bottom:   8rem; }
.mb-09 { margin-bottom:   9rem; }
.mb-10 { margin-bottom:  10rem; }
.mb-11 { margin-bottom:  11rem; }
.mb-12 { margin-bottom:  12rem; }
.mb-13 { margin-bottom:  13rem; }
.mb-14 { margin-bottom:  14rem; }
.mb-15 { margin-bottom:  15rem; }
.mb-16 { margin-bottom:  16rem; }
.mb-17 { margin-bottom:  17rem; }
.mb-18 { margin-bottom:  18rem; }
.mb-19 { margin-bottom:  19rem; }
.mb-20 { margin-bottom:  20rem; }
.mb-21 { margin-bottom:  21rem; }
.mb-22 { margin-bottom:  22rem; }
.mb-23 { margin-bottom:  23rem; }
.mb-24 { margin-bottom:  24rem; }
.mb-25 { margin-bottom:  25rem; }
.mb-26 { margin-bottom:  26rem; }
.mb-27 { margin-bottom:  27rem; }
.mb-28 { margin-bottom:  28rem; }
.mb-29 { margin-bottom:  29rem; }
.mb-30 { margin-bottom:  30rem; }

.mv-00 { margin-top:   0rem; margin-bottom:   0rem; }
.mv-01 { margin-top:   1rem; margin-bottom:   1rem; }
.mv-02 { margin-top:   2rem; margin-bottom:   2rem; }
.mv-03 { margin-top:   3rem; margin-bottom:   3rem; }
.mv-04 { margin-top:   4rem; margin-bottom:   4rem; }
.mv-05 { margin-top:   5rem; margin-bottom:   5rem; }
.mv-06 { margin-top:   6rem; margin-bottom:   6rem; }
.mv-07 { margin-top:   7rem; margin-bottom:   7rem; }
.mv-08 { margin-top:   8rem; margin-bottom:   8rem; }
.mv-09 { margin-top:   9rem; margin-bottom:   9rem; }
.mv-10 { margin-top:  10rem; margin-bottom:  10rem; }
.mv-11 { margin-top:  11rem; margin-bottom:  11rem; }
.mv-12 { margin-top:  12rem; margin-bottom:  12rem; }
.mv-13 { margin-top:  13rem; margin-bottom:  13rem; }
.mv-14 { margin-top:  14rem; margin-bottom:  14rem; }
.mv-15 { margin-top:  15rem; margin-bottom:  15rem; }
.mv-16 { margin-top:  16rem; margin-bottom:  16rem; }
.mv-17 { margin-top:  17rem; margin-bottom:  17rem; }
.mv-18 { margin-top:  18rem; margin-bottom:  18rem; }
.mv-19 { margin-top:  19rem; margin-bottom:  19rem; }
.mv-20 { margin-top:  20rem; margin-bottom:  20rem; }
.mv-21 { margin-top:  21rem; margin-bottom:  21rem; }
.mv-22 { margin-top:  22rem; margin-bottom:  22rem; }
.mv-23 { margin-top:  23rem; margin-bottom:  23rem; }
.mv-24 { margin-top:  24rem; margin-bottom:  24rem; }
.mv-25 { margin-top:  25rem; margin-bottom:  25rem; }
.mv-26 { margin-top:  26rem; margin-bottom:  26rem; }
.mv-27 { margin-top:  27rem; margin-bottom:  27rem; }
.mv-28 { margin-top:  28rem; margin-bottom:  28rem; }
.mv-29 { margin-top:  29rem; margin-bottom:  29rem; }
.mv-30 { margin-top:  30rem; margin-bottom:  30rem; }

.mh-00 { margin-left:   0rem; margin-right:   0rem; }
.mh-01 { margin-left:   1rem; margin-right:   1rem; }
.mh-02 { margin-left:   2rem; margin-right:   2rem; }
.mh-03 { margin-left:   3rem; margin-right:   3rem; }
.mh-04 { margin-left:   4rem; margin-right:   4rem; }
.mh-05 { margin-left:   5rem; margin-right:   5rem; }
.mh-06 { margin-left:   6rem; margin-right:   6rem; }
.mh-07 { margin-left:   7rem; margin-right:   7rem; }
.mh-08 { margin-left:   8rem; margin-right:   8rem; }
.mh-09 { margin-left:   9rem; margin-right:   9rem; }
.mh-10 { margin-left:  10rem; margin-right:  10rem; }
.mh-11 { margin-left:  11rem; margin-right:  11rem; }
.mh-12 { margin-left:  12rem; margin-right:  12rem; }
.mh-13 { margin-left:  13rem; margin-right:  13rem; }
.mh-14 { margin-left:  14rem; margin-right:  14rem; }
.mh-15 { margin-left:  15rem; margin-right:  15rem; }
.mh-16 { margin-left:  16rem; margin-right:  16rem; }
.mh-17 { margin-left:  17rem; margin-right:  17rem; }
.mh-18 { margin-left:  18rem; margin-right:  18rem; }
.mh-19 { margin-left:  19rem; margin-right:  19rem; }
.mh-20 { margin-left:  20rem; margin-right:  20rem; }
.mh-21 { margin-left:  21rem; margin-right:  21rem; }
.mh-22 { margin-left:  22rem; margin-right:  22rem; }
.mh-23 { margin-left:  23rem; margin-right:  23rem; }
.mh-24 { margin-left:  24rem; margin-right:  24rem; }
.mh-25 { margin-left:  25rem; margin-right:  25rem; }
.mh-26 { margin-left:  26rem; margin-right:  26rem; }
.mh-27 { margin-left:  27rem; margin-right:  27rem; }
.mh-28 { margin-left:  28rem; margin-right:  28rem; }
.mh-29 { margin-left:  29rem; margin-right:  29rem; }
.mh-30 { margin-left:  30rem; margin-right:  30rem; }

/* Negative Margins */
.na-00 { margin:   -0rem; }
.na-01 { margin:   -1rem; }
.na-02 { margin:   -2rem; }
.na-03 { margin:   -3rem; }
.na-04 { margin:   -4rem; }
.na-05 { margin:   -5rem; }
.na-06 { margin:   -6rem; }
.na-07 { margin:   -7rem; }
.na-08 { margin:   -8rem; }
.na-09 { margin:   -9rem; }
.na-10 { margin:  -10rem; }
.na-11 { margin:  -11rem; }
.na-12 { margin:  -12rem; }
.na-13 { margin:  -13rem; }
.na-14 { margin:  -14rem; }
.na-15 { margin:  -15rem; }
.na-16 { margin:  -16rem; }
.na-17 { margin:  -17rem; }
.na-18 { margin:  -18rem; }
.na-19 { margin:  -19rem; }
.na-20 { margin:  -20rem; }
.na-21 { margin:  -21rem; }
.na-22 { margin:  -22rem; }
.na-23 { margin:  -23rem; }
.na-24 { margin:  -24rem; }
.na-25 { margin:  -25rem; }
.na-26 { margin:  -26rem; }
.na-27 { margin:  -27rem; }
.na-28 { margin:  -28rem; }
.na-29 { margin:  -29rem; }
.na-30 { margin:  -30rem; }

.nl-00 { margin-left:   -0rem; }
.nl-01 { margin-left:   -1rem; }
.nl-02 { margin-left:   -2rem; }
.nl-03 { margin-left:   -3rem; }
.nl-04 { margin-left:   -4rem; }
.nl-05 { margin-left:   -5rem; }
.nl-06 { margin-left:   -6rem; }
.nl-07 { margin-left:   -7rem; }
.nl-08 { margin-left:   -8rem; }
.nl-09 { margin-left:   -9rem; }
.nl-10 { margin-left:  -10rem; }
.nl-11 { margin-left:  -11rem; }
.nl-12 { margin-left:  -12rem; }
.nl-13 { margin-left:  -13rem; }
.nl-14 { margin-left:  -14rem; }
.nl-15 { margin-left:  -15rem; }
.nl-16 { margin-left:  -16rem; }
.nl-17 { margin-left:  -17rem; }
.nl-18 { margin-left:  -18rem; }
.nl-19 { margin-left:  -19rem; }
.nl-20 { margin-left:  -20rem; }
.nl-21 { margin-left:  -21rem; }
.nl-22 { margin-left:  -22rem; }
.nl-23 { margin-left:  -23rem; }
.nl-24 { margin-left:  -24rem; }
.nl-25 { margin-left:  -25rem; }
.nl-26 { margin-left:  -26rem; }
.nl-27 { margin-left:  -27rem; }
.nl-28 { margin-left:  -28rem; }
.nl-29 { margin-left:  -29rem; }
.nl-30 { margin-left:  -30rem; }

.nr-00 { margin-right:   -0rem; }
.nr-01 { margin-right:   -1rem; }
.nr-02 { margin-right:   -2rem; }
.nr-03 { margin-right:   -3rem; }
.nr-04 { margin-right:   -4rem; }
.nr-05 { margin-right:   -5rem; }
.nr-06 { margin-right:   -6rem; }
.nr-07 { margin-right:   -7rem; }
.nr-08 { margin-right:   -8rem; }
.nr-09 { margin-right:   -9rem; }
.nr-10 { margin-right:  -10rem; }
.nr-11 { margin-right:  -11rem; }
.nr-12 { margin-right:  -12rem; }
.nr-13 { margin-right:  -13rem; }
.nr-14 { margin-right:  -14rem; }
.nr-15 { margin-right:  -15rem; }
.nr-16 { margin-right:  -16rem; }
.nr-17 { margin-right:  -17rem; }
.nr-18 { margin-right:  -18rem; }
.nr-19 { margin-right:  -19rem; }
.nr-20 { margin-right:  -20rem; }
.nr-21 { margin-right:  -21rem; }
.nr-22 { margin-right:  -22rem; }
.nr-23 { margin-right:  -23rem; }
.nr-24 { margin-right:  -24rem; }
.nr-25 { margin-right:  -25rem; }
.nr-26 { margin-right:  -26rem; }
.nr-27 { margin-right:  -27rem; }
.nr-28 { margin-right:  -28rem; }
.nr-29 { margin-right:  -29rem; }
.nr-30 { margin-right:  -30rem; }

.nt-00 { margin-top:   -0rem; }
.nt-01 { margin-top:   -1rem; }
.nt-02 { margin-top:   -2rem; }
.nt-03 { margin-top:   -3rem; }
.nt-04 { margin-top:   -4rem; }
.nt-05 { margin-top:   -5rem; }
.nt-06 { margin-top:   -6rem; }
.nt-07 { margin-top:   -7rem; }
.nt-08 { margin-top:   -8rem; }
.nt-09 { margin-top:   -9rem; }
.nt-10 { margin-top:  -10rem; }
.nt-11 { margin-top:  -11rem; }
.nt-12 { margin-top:  -12rem; }
.nt-13 { margin-top:  -13rem; }
.nt-14 { margin-top:  -14rem; }
.nt-15 { margin-top:  -15rem; }
.nt-16 { margin-top:  -16rem; }
.nt-17 { margin-top:  -17rem; }
.nt-18 { margin-top:  -18rem; }
.nt-19 { margin-top:  -19rem; }
.nt-20 { margin-top:  -20rem; }
.nt-21 { margin-top:  -21rem; }
.nt-22 { margin-top:  -22rem; }
.nt-23 { margin-top:  -23rem; }
.nt-24 { margin-top:  -24rem; }
.nt-25 { margin-top:  -25rem; }
.nt-26 { margin-top:  -26rem; }
.nt-27 { margin-top:  -27rem; }
.nt-28 { margin-top:  -28rem; }
.nt-29 { margin-top:  -29rem; }
.nt-30 { margin-top:  -30rem; }

.nb-00 { margin-bottom:   -0rem; }
.nb-01 { margin-bottom:   -1rem; }
.nb-02 { margin-bottom:   -2rem; }
.nb-03 { margin-bottom:   -3rem; }
.nb-04 { margin-bottom:   -4rem; }
.nb-05 { margin-bottom:   -5rem; }
.nb-06 { margin-bottom:   -6rem; }
.nb-07 { margin-bottom:   -7rem; }
.nb-08 { margin-bottom:   -8rem; }
.nb-09 { margin-bottom:   -9rem; }
.nb-10 { margin-bottom:  -10rem; }
.nb-11 { margin-bottom:  -11rem; }
.nb-12 { margin-bottom:  -12rem; }
.nb-13 { margin-bottom:  -13rem; }
.nb-14 { margin-bottom:  -14rem; }
.nb-15 { margin-bottom:  -15rem; }
.nb-16 { margin-bottom:  -16rem; }
.nb-17 { margin-bottom:  -17rem; }
.nb-18 { margin-bottom:  -18rem; }
.nb-19 { margin-bottom:  -19rem; }
.nb-20 { margin-bottom:  -20rem; }
.nb-21 { margin-bottom:  -21rem; }
.nb-22 { margin-bottom:  -22rem; }
.nb-23 { margin-bottom:  -23rem; }
.nb-24 { margin-bottom:  -24rem; }
.nb-25 { margin-bottom:  -25rem; }
.nb-26 { margin-bottom:  -26rem; }
.nb-27 { margin-bottom:  -27rem; }
.nb-28 { margin-bottom:  -28rem; }
.nb-29 { margin-bottom:  -29rem; }
.nb-30 { margin-bottom:  -30rem; }

/* Coordinates */
.top-01 {  top:   0%; }
.top-01 {  top:   1%; }
.top-02 {  top:   2%; }
.top-03 {  top:   3%; }
.top-04 {  top:   4%; }
.top-05 {  top:   5%; }
.top-06 {  top:   6%; }
.top-07 {  top:   7%; }
.top-08 {  top:   8%; }
.top-09 {  top:   9%; }
.top-10 {  top:  10%; }
.top-11 {  top:  11%; }
.top-12 {  top:  12%; }
.top-13 {  top:  13%; }
.top-14 {  top:  14%; }
.top-15 {  top:  15%; }
.top-16 {  top:  16%; }
.top-17 {  top:  17%; }
.top-18 {  top:  18%; }
.top-19 {  top:  19%; }
.top-20 {  top:  20%; }
.top-21 {  top:  21%; }
.top-22 {  top:  22%; }
.top-23 {  top:  23%; }
.top-24 {  top:  24%; }
.top-25 {  top:  25%; }
.top-26 {  top:  26%; }
.top-27 {  top:  27%; }
.top-28 {  top:  28%; }
.top-29 {  top:  29%; }
.top-30 {  top:  30%; }
.top-31 {  top:  31%; }
.top-32 {  top:  32%; }
.top-33 {  top:  33%; }
.top-34 {  top:  34%; }
.top-35 {  top:  35%; }
.top-36 {  top:  36%; }
.top-37 {  top:  37%; }
.top-38 {  top:  38%; }
.top-39 {  top:  39%; }
.top-40 {  top:  40%; }
.top-41 {  top:  41%; }
.top-42 {  top:  42%; }
.top-43 {  top:  43%; }
.top-44 {  top:  44%; }
.top-45 {  top:  45%; }
.top-46 {  top:  46%; }
.top-47 {  top:  47%; }
.top-48 {  top:  48%; }
.top-49 {  top:  49%; }
.top-50 {  top:  50%; }
.top-51 {  top:  51%; }
.top-52 {  top:  52%; }
.top-53 {  top:  53%; }
.top-54 {  top:  54%; }
.top-55 {  top:  55%; }
.top-56 {  top:  56%; }
.top-57 {  top:  57%; }
.top-58 {  top:  58%; }
.top-59 {  top:  59%; }
.top-60 {  top:  60%; }
.top-61 {  top:  61%; }
.top-62 {  top:  62%; }
.top-63 {  top:  63%; }
.top-64 {  top:  64%; }
.top-65 {  top:  65%; }
.top-66 {  top:  66%; }
.top-67 {  top:  67%; }
.top-68 {  top:  68%; }
.top-69 {  top:  69%; }
.top-70 {  top:  70%; }
.top-71 {  top:  71%; }
.top-72 {  top:  72%; }
.top-73 {  top:  73%; }
.top-74 {  top:  74%; }
.top-75 {  top:  75%; }
.top-76 {  top:  76%; }
.top-77 {  top:  77%; }
.top-78 {  top:  78%; }
.top-79 {  top:  79%; }
.top-80 {  top:  80%; }
.top-81 {  top:  81%; }
.top-82 {  top:  82%; }
.top-83 {  top:  83%; }
.top-84 {  top:  84%; }
.top-85 {  top:  85%; }
.top-86 {  top:  86%; }
.top-87 {  top:  87%; }
.top-88 {  top:  88%; }
.top-89 {  top:  89%; }
.top-90 {  top:  90%; }
.top-91 {  top:  91%; }
.top-92 {  top:  92%; }
.top-93 {  top:  93%; }
.top-94 {  top:  94%; }
.top-95 {  top:  95%; }
.top-96 {  top:  96%; }
.top-97 {  top:  97%; }
.top-98 {  top:  98%; }
.top-99 {  top:  99%; }
.top-100 { top: 100%; }

.bottom-00 {  bottom:   0%; }
.bottom-01 {  bottom:   1%; }
.bottom-02 {  bottom:   2%; }
.bottom-03 {  bottom:   3%; }
.bottom-04 {  bottom:   4%; }
.bottom-05 {  bottom:   5%; }
.bottom-06 {  bottom:   6%; }
.bottom-07 {  bottom:   7%; }
.bottom-08 {  bottom:   8%; }
.bottom-09 {  bottom:   9%; }
.bottom-10 {  bottom:  10%; }
.bottom-11 {  bottom:  11%; }
.bottom-12 {  bottom:  12%; }
.bottom-13 {  bottom:  13%; }
.bottom-14 {  bottom:  14%; }
.bottom-15 {  bottom:  15%; }
.bottom-16 {  bottom:  16%; }
.bottom-17 {  bottom:  17%; }
.bottom-18 {  bottom:  18%; }
.bottom-19 {  bottom:  19%; }
.bottom-20 {  bottom:  20%; }
.bottom-21 {  bottom:  21%; }
.bottom-22 {  bottom:  22%; }
.bottom-23 {  bottom:  23%; }
.bottom-24 {  bottom:  24%; }
.bottom-25 {  bottom:  25%; }
.bottom-26 {  bottom:  26%; }
.bottom-27 {  bottom:  27%; }
.bottom-28 {  bottom:  28%; }
.bottom-29 {  bottom:  29%; }
.bottom-30 {  bottom:  30%; }
.bottom-31 {  bottom:  31%; }
.bottom-32 {  bottom:  32%; }
.bottom-33 {  bottom:  33%; }
.bottom-34 {  bottom:  34%; }
.bottom-35 {  bottom:  35%; }
.bottom-36 {  bottom:  36%; }
.bottom-37 {  bottom:  37%; }
.bottom-38 {  bottom:  38%; }
.bottom-39 {  bottom:  39%; }
.bottom-40 {  bottom:  40%; }
.bottom-41 {  bottom:  41%; }
.bottom-42 {  bottom:  42%; }
.bottom-43 {  bottom:  43%; }
.bottom-44 {  bottom:  44%; }
.bottom-45 {  bottom:  45%; }
.bottom-46 {  bottom:  46%; }
.bottom-47 {  bottom:  47%; }
.bottom-48 {  bottom:  48%; }
.bottom-49 {  bottom:  49%; }
.bottom-50 {  bottom:  50%; }
.bottom-51 {  bottom:  51%; }
.bottom-52 {  bottom:  52%; }
.bottom-53 {  bottom:  53%; }
.bottom-54 {  bottom:  54%; }
.bottom-55 {  bottom:  55%; }
.bottom-56 {  bottom:  56%; }
.bottom-57 {  bottom:  57%; }
.bottom-58 {  bottom:  58%; }
.bottom-59 {  bottom:  59%; }
.bottom-60 {  bottom:  60%; }
.bottom-61 {  bottom:  61%; }
.bottom-62 {  bottom:  62%; }
.bottom-63 {  bottom:  63%; }
.bottom-64 {  bottom:  64%; }
.bottom-65 {  bottom:  65%; }
.bottom-66 {  bottom:  66%; }
.bottom-67 {  bottom:  67%; }
.bottom-68 {  bottom:  68%; }
.bottom-69 {  bottom:  69%; }
.bottom-70 {  bottom:  70%; }
.bottom-71 {  bottom:  71%; }
.bottom-72 {  bottom:  72%; }
.bottom-73 {  bottom:  73%; }
.bottom-74 {  bottom:  74%; }
.bottom-75 {  bottom:  75%; }
.bottom-76 {  bottom:  76%; }
.bottom-77 {  bottom:  77%; }
.bottom-78 {  bottom:  78%; }
.bottom-79 {  bottom:  79%; }
.bottom-80 {  bottom:  80%; }
.bottom-81 {  bottom:  81%; }
.bottom-82 {  bottom:  82%; }
.bottom-83 {  bottom:  83%; }
.bottom-84 {  bottom:  84%; }
.bottom-85 {  bottom:  85%; }
.bottom-86 {  bottom:  86%; }
.bottom-87 {  bottom:  87%; }
.bottom-88 {  bottom:  88%; }
.bottom-89 {  bottom:  89%; }
.bottom-90 {  bottom:  90%; }
.bottom-91 {  bottom:  91%; }
.bottom-92 {  bottom:  92%; }
.bottom-93 {  bottom:  93%; }
.bottom-94 {  bottom:  94%; }
.bottom-95 {  bottom:  95%; }
.bottom-96 {  bottom:  96%; }
.bottom-97 {  bottom:  97%; }
.bottom-98 {  bottom:  98%; }
.bottom-99 {  bottom:  99%; }
.bottom-100 { bottom: 100%; }

.left-00 {  left:   0%; }
.left-01 {  left:   1%; }
.left-02 {  left:   2%; }
.left-03 {  left:   3%; }
.left-04 {  left:   4%; }
.left-05 {  left:   5%; }
.left-06 {  left:   6%; }
.left-07 {  left:   7%; }
.left-08 {  left:   8%; }
.left-09 {  left:   9%; }
.left-10 {  left:  10%; }
.left-11 {  left:  11%; }
.left-12 {  left:  12%; }
.left-13 {  left:  13%; }
.left-14 {  left:  14%; }
.left-15 {  left:  15%; }
.left-16 {  left:  16%; }
.left-17 {  left:  17%; }
.left-18 {  left:  18%; }
.left-19 {  left:  19%; }
.left-20 {  left:  20%; }
.left-21 {  left:  21%; }
.left-22 {  left:  22%; }
.left-23 {  left:  23%; }
.left-24 {  left:  24%; }
.left-25 {  left:  25%; }
.left-26 {  left:  26%; }
.left-27 {  left:  27%; }
.left-28 {  left:  28%; }
.left-29 {  left:  29%; }
.left-30 {  left:  30%; }
.left-31 {  left:  31%; }
.left-32 {  left:  32%; }
.left-33 {  left:  33%; }
.left-34 {  left:  34%; }
.left-35 {  left:  35%; }
.left-36 {  left:  36%; }
.left-37 {  left:  37%; }
.left-38 {  left:  38%; }
.left-39 {  left:  39%; }
.left-40 {  left:  40%; }
.left-41 {  left:  41%; }
.left-42 {  left:  42%; }
.left-43 {  left:  43%; }
.left-44 {  left:  44%; }
.left-45 {  left:  45%; }
.left-46 {  left:  46%; }
.left-47 {  left:  47%; }
.left-48 {  left:  48%; }
.left-49 {  left:  49%; }
.left-50 {  left:  50%; }
.left-51 {  left:  51%; }
.left-52 {  left:  52%; }
.left-53 {  left:  53%; }
.left-54 {  left:  54%; }
.left-55 {  left:  55%; }
.left-56 {  left:  56%; }
.left-57 {  left:  57%; }
.left-58 {  left:  58%; }
.left-59 {  left:  59%; }
.left-60 {  left:  60%; }
.left-61 {  left:  61%; }
.left-62 {  left:  62%; }
.left-63 {  left:  63%; }
.left-64 {  left:  64%; }
.left-65 {  left:  65%; }
.left-66 {  left:  66%; }
.left-67 {  left:  67%; }
.left-68 {  left:  68%; }
.left-69 {  left:  69%; }
.left-70 {  left:  70%; }
.left-71 {  left:  71%; }
.left-72 {  left:  72%; }
.left-73 {  left:  73%; }
.left-74 {  left:  74%; }
.left-75 {  left:  75%; }
.left-76 {  left:  76%; }
.left-77 {  left:  77%; }
.left-78 {  left:  78%; }
.left-79 {  left:  79%; }
.left-80 {  left:  80%; }
.left-81 {  left:  81%; }
.left-82 {  left:  82%; }
.left-83 {  left:  83%; }
.left-84 {  left:  84%; }
.left-85 {  left:  85%; }
.left-86 {  left:  86%; }
.left-87 {  left:  87%; }
.left-88 {  left:  88%; }
.left-89 {  left:  89%; }
.left-90 {  left:  90%; }
.left-91 {  left:  91%; }
.left-92 {  left:  92%; }
.left-93 {  left:  93%; }
.left-94 {  left:  94%; }
.left-95 {  left:  95%; }
.left-96 {  left:  96%; }
.left-97 {  left:  97%; }
.left-98 {  left:  98%; }
.left-99 {  left:  99%; }
.left-100 { left: 100%; }

.right-00 {  right:   0%; }
.right-01 {  right:   1%; }
.right-02 {  right:   2%; }
.right-03 {  right:   3%; }
.right-04 {  right:   4%; }
.right-05 {  right:   5%; }
.right-06 {  right:   6%; }
.right-07 {  right:   7%; }
.right-08 {  right:   8%; }
.right-09 {  right:   9%; }
.right-10 {  right:  10%; }
.right-11 {  right:  11%; }
.right-12 {  right:  12%; }
.right-13 {  right:  13%; }
.right-14 {  right:  14%; }
.right-15 {  right:  15%; }
.right-16 {  right:  16%; }
.right-17 {  right:  17%; }
.right-18 {  right:  18%; }
.right-19 {  right:  19%; }
.right-20 {  right:  20%; }
.right-21 {  right:  21%; }
.right-22 {  right:  22%; }
.right-23 {  right:  23%; }
.right-24 {  right:  24%; }
.right-25 {  right:  25%; }
.right-26 {  right:  26%; }
.right-27 {  right:  27%; }
.right-28 {  right:  28%; }
.right-29 {  right:  29%; }
.right-30 {  right:  30%; }
.right-31 {  right:  31%; }
.right-32 {  right:  32%; }
.right-33 {  right:  33%; }
.right-34 {  right:  34%; }
.right-35 {  right:  35%; }
.right-36 {  right:  36%; }
.right-37 {  right:  37%; }
.right-38 {  right:  38%; }
.right-39 {  right:  39%; }
.right-40 {  right:  40%; }
.right-41 {  right:  41%; }
.right-42 {  right:  42%; }
.right-43 {  right:  43%; }
.right-44 {  right:  44%; }
.right-45 {  right:  45%; }
.right-46 {  right:  46%; }
.right-47 {  right:  47%; }
.right-48 {  right:  48%; }
.right-49 {  right:  49%; }
.right-50 {  right:  50%; }
.right-51 {  right:  51%; }
.right-52 {  right:  52%; }
.right-53 {  right:  53%; }
.right-54 {  right:  54%; }
.right-55 {  right:  55%; }
.right-56 {  right:  56%; }
.right-57 {  right:  57%; }
.right-58 {  right:  58%; }
.right-59 {  right:  59%; }
.right-60 {  right:  60%; }
.right-61 {  right:  61%; }
.right-62 {  right:  62%; }
.right-63 {  right:  63%; }
.right-64 {  right:  64%; }
.right-65 {  right:  65%; }
.right-66 {  right:  66%; }
.right-67 {  right:  67%; }
.right-68 {  right:  68%; }
.right-69 {  right:  69%; }
.right-70 {  right:  70%; }
.right-71 {  right:  71%; }
.right-72 {  right:  72%; }
.right-73 {  right:  73%; }
.right-74 {  right:  74%; }
.right-75 {  right:  75%; }
.right-76 {  right:  76%; }
.right-77 {  right:  77%; }
.right-78 {  right:  78%; }
.right-79 {  right:  79%; }
.right-80 {  right:  80%; }
.right-81 {  right:  81%; }
.right-82 {  right:  82%; }
.right-83 {  right:  83%; }
.right-84 {  right:  84%; }
.right-85 {  right:  85%; }
.right-86 {  right:  86%; }
.right-87 {  right:  87%; }
.right-88 {  right:  88%; }
.right-89 {  right:  89%; }
.right-90 {  right:  90%; }
.right-91 {  right:  91%; }
.right-92 {  right:  92%; }
.right-93 {  right:  93%; }
.right-94 {  right:  94%; }
.right-95 {  right:  95%; }
.right-96 {  right:  96%; }
.right-97 {  right:  97%; }
.right-98 {  right:  98%; }
.right-99 {  right:  99%; }
.right-100 { right: 100%; }

.absolute--fill-h { left: 0;  right:  0; }
.absolute--fill-v { top:  0;  bottom: 0; }

/* Line Height */
.lh-10 { line-height: 1.0; }
.lh-11 { line-height: 1.1; }
.lh-12 { line-height: 1.2; }
.lh-13 { line-height: 1.3; }
.lh-14 { line-height: 1.4; }
.lh-15 { line-height: 1.5; }
.lh-16 { line-height: 1.6; }
.lh-16 { line-height: 1.7; }
.lh-18 { line-height: 1.8; }
.lh-19 { line-height: 1.9; }
.lh-20 { line-height: 2.0; }
.lh-21 { line-height: 2.1; }
.lh-22 { line-height: 2.2; }
.lh-23 { line-height: 2.3; }
.lh-24 { line-height: 2.4; }
.lh-25 { line-height: 2.5; }
.lh-26 { line-height: 2.6; }
.lh-26 { line-height: 2.7; }
.lh-28 { line-height: 2.8; }
.lh-29 { line-height: 2.9; }
.lh-30 { line-height: 3.0; }

/* Hover */
.hover-black-inverse { color: #000; }
.hover-black-inverse:hover { color: #fff; background-color: #000; }
.hover-black-inverse:focus { color: #fff; background-color: #000; }

.hover-dark-red-inverse { color: #e7040f; }
.hover-dark-red-inverse:hover { color: #fff; background-color: #e7040f; }
.hover-dark-red-inverse:focus { color: #fff; background-color: #e7040f; }

.hover-red-inverse { color: #ff4136; }
.hover-red-inverse:hover { color: #fff; background-color: #ff4136; }
.hover-red-inverse:focus { color: #fff; background-color: #ff4136; }

.hover-orange-inverse { color: #ff6300; }
.hover-orange-inverse:hover { color: #fff; background-color: #ff6300; }
.hover-orange-inverse:focus { color: #fff; background-color: #ff6300; }

.hover-gold-inverse { color: #ffb700; }
.hover-gold-inverse:hover { color: #fff; background-color: #ffb700; }
.hover-gold-inverse:focus { color: #fff; background-color: #ffb700; }

.hover-yellow-inverse { color: #ffd700; }
.hover-yellow-inverse:hover { color: #fff; background-color: #ffd700; }
.hover-yellow-inverse:focus { color: #fff; background-color: #ffd700; }

.hover-purple-inverse { color: #5e2ca5; }
.hover-purple-inverse:hover { color: #fff; background-color: #5e2ca5; }
.hover-purple-inverse:focus { color: #fff; background-color: #5e2ca5; }

.hover-dark-pink-inverse { color: #d5008f; }
.hover-dark-pink-inverse:hover { color: #fff; background-color: #d5008f; }
.hover-dark-pink-inverse:focus { color: #fff; background-color: #d5008f; }

.hover-hot-pink-inverse { color: #ff41b4; }
.hover-hot-pink-inverse:hover { color: #fff; background-color: #ff41b4; }
.hover-hot-pink-inverse:focus { color: #fff; background-color: #ff41b4; }

.hover-pink-inverse { color: #ff80cc; }
.hover-pink-inverse:hover { color: #fff; background-color: #ff80cc; }
.hover-pink-inverse:focus { color: #fff; background-color: #ff80cc; }

.hover-dark-green-inverse { color: #137752; }
.hover-dark-green-inverse:hover { color: #fff; background-color: #137752; }
.hover-dark-green-inverse:focus { color: #fff; background-color: #137752; }

.hover-green-inverse { color: #19a974; }
.hover-green-inverse:hover { color: #fff; background-color: #19a974; }
.hover-green-inverse:focus { color: #fff; background-color: #19a974; }

.hover-navy-inverse { color: #001b44; }
.hover-navy-inverse:hover { color: #fff; background-color: #001b44; }
.hover-navy-inverse:focus { color: #fff; background-color: #001b44; }

.hover-dark-blue-inverse { color: #00449e; }
.hover-dark-blue-inverse:hover { color: #fff; background-color: #00449e; }
.hover-dark-blue-inverse:focus { color: #fff; background-color: #00449e; }

.hover-blue-inverse { color: #357edd; }
.hover-blue-inverse:hover { color: #fff; background-color: #357edd; }
.hover-blue-inverse:focus { color: #fff; background-color: #357edd; }